* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  min-height: 100vh;
  background-image: url("images/Picture8.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body,
html {
  scroll-behavior: smooth;
}

.btn-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.btn {
  padding: 5px;
  background-color: rgb(93, 155, 79);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-2 {
  margin: 0 1rem;
}

h1 {
  color: green;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  font-size: 2.5rem;
}

.message-container,
.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.message-container p {
  max-width: 350px;
  font-size: 1.3rem;
  line-height: 1.7rem;
  padding: 5px 0;
}

.name {
  color: green;
  font-size: 1.5rem;
}

.timeline {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.timeline-event {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 100px;
  width: 180px;
}

.event-time {
  font-weight: bold;
  margin-bottom: 10px;
}

.event-title {
  font-weight: bold;
  margin: 10px 0;
}

.event {
  display: flex;
}

.event img {
  width: 150px;
  /* height: 150px; */
}

.left {
  text-align: left;
}

.event-img-2 img {
  height: 120px;
  width: 100px;
  margin-right: 50px;
}

.after-container p {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  max-width: 350px;
}

.after-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 12rem;
  padding: 20px 10px;
  background-color: rgba(157, 176, 159, 0.749);
}

@media (min-width: 768px) {
  body {
    background-size: 600px;
    background-position: right bottom;
  }
}
